@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background: #141313;
  color: #E5E5E5;
  overflow-x: hidden;
}

.leaflet-container {
  z-index: 0 !important;
}

*:focus {
  outline: none;
  box-shadow: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hides the scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
